body{
  background-color: #ffffff;
  margin: 0px;
}
header{
  width: 90%;
  height: 85px;
  background-color: #ffffff;
  margin: auto;

}

main{
  width: 90%;
  height: 800px;
  background-color: #ffffff;
  margin: auto;
}


#section_footer{
    position: relative;
    height: 100px;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: auto;


}