body {
  background-color: #ffffff;
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 90%;
  height: 85px;
  background-color: #ffffff;
  margin: auto;
}

section {
  flex-grow: 1;
  /* Allow column B to grow and shrink */
  flex-shrink: 1;
  /* Allow column B to shrink */
  flex-basis: 80%;
  min-width: 0;
  /* Ensure column B can shrink below its default width */
  word-wrap: break-word;
}

main {
  display: flex; /* Display items horizontally */
  height: 700px;
  width: 90%;
  background-color: #ffffff;

  .column {
    flex-basis: 60%;
    padding: 16px;
    border: 1px solid #ccc;
    margin: 8px;
  }

  .a {
    flex-basis: 20%;
    flex-grow: 1;
    /* Allow column B to grow and shrink */
    flex-shrink: 1;
    /* Allow column B to shrink */
  }

  .b {
    flex-grow: 1;
    /* Allow column B to grow and shrink */
    flex-shrink: 1;
    /* Allow column B to shrink */
    flex-basis: 80%;
    min-width: 0;
    /* Ensure column B can shrink below its default width */
    word-wrap: break-word;
    /* Wrap long words to a new line */
  }

  .c {
    flex-basis: 20%;
  }
}

#section_footer {
  position: relative;
  height: 100px;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: auto;
}

#section_main {
  position: relative;
  height: 100px;
  bottom: 0;
  width: 100%;
  margin: auto;
}

#section_header {
  position: relative;
  height: 100px;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: auto;
}

#section_header ul {
  list-style: none;
  padding: 0; /* Remove default padding */
}

#section_header li {
  list-style-type: none;
  display: inline-block; /* Display items horizontally */
  margin-right: 10px; /* Adjust spacing between items */
}
