body{
  background-color: #ffffff;
  margin: 0px;
}
header{
  width: 90%;
  height: 85px;
  background-color: #ffffff;
  margin: auto;

}

main{
  width: 90%;
  height: 200px;
  background-color: #ffffff;
  margin: auto;
}


#section_footer{
  width: 90%;
  height: 200px;
  background-color: #ffffff;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}